  <!--******************************* Carousel/Hero Start **************************** -->

<div>
<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Simple jobs</h5>
      <p>Search for remote jobs</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Easy to use</h5>
      <p>Scroll down and search for what you need</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Never worry about layoffs</h5>
      <p>Apply for your next role today!</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

</div>
  <!--******************************* Carousel/Hero End **************************** -->



  <!-- *****************content *******************************-->

   <!-- Section: Links  -->
   <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Step 1.
          </h6>
          <p>

            Start searching
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Step 2.
          </h6>
          <p>

          See your data
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Step 3.
          </h6>
          <p>
          Apply
          </p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

 <!--******************************* Form Start **************************** -->





 <div class="container">
  <mdb-form-control>

  <input type="search" [(ngModel)]="searchTerm" id="form1"  placeholder="Search for remote jobs"  class="form-control">
  <label mdbLabel class="form-label" for="form1">Search</label>
</mdb-form-control>
<button type="button" (click)="search()" class="btn btn-primary"> <i class="fas fa-search"></i> Search</button>
  
<button type="button" class="btn btn-secondary" mdbRipple (click)="clearResults()">Clear Results</button>
  
  <div *ngIf="jobs">
    <div *ngFor="let job of jobs">
      <img class="job-company-logo" *ngIf="job.company_logo" [src]="job.company_logo" alt="Company Logo">

      <h3 class="job-title">{{ job.title }}</h3>
      <p class="job-salary">Salary: {{ job.salary }}</p>
      <p class="company-name">{{ job.company_name }}</p>
      <p class="job-url">URL:<a [href]="job.url" target="_blank"> {{ job.url }}</a></p>

      <p class="job-description" [innerHTML]="job.descriptionWithBreaks"></p>
      
      <hr>
    </div>
  </div>
</div>


 <!--******************************* Footer Start **************************** -->
<div>  
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://www.jeremypdickey.com/">My portfolio & </a>
    <a href="https://github.com/JDEE30/" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>

 <!--******************************* Footer End **************************** -->
