
.job-title,
.company-name,
.job-description,
.job-salary,
.job-url,
.job-company-logo
 {
    margin: 2% 5% 2% 10% ;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .search-input {
    margin-bottom: 10px;
  }